.image-style {
    float: left;
    height:104px;
    padding: 10px;
    margin: 10px;
}

.image-style img{
    width: 90%;
    height: 90%;
}


.search-class{
     margin: 0 auto;
     width: 50%;padding: 20px;
 }

.search-class input{
    width: 60%;
    padding:8px 15px;
    background:rgba(50, 50, 50, 0.2);
    border:0px solid #dbdbdb;
}
.search-class button{
    position:relative;
    padding:6px 15px;
    left:-8px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
}

.search-class button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.selected img{
    background-color: #fafafa;
    border-style: inset;
    border-color: #CA2043;
    border-width: 5px;
}

.image-container{
    background-color: #fafafa;
    border-style: inset;
    border-color: #CA2043;
    border-width: 5px;
    overflow: hidden;
}